.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.header h1 {
  margin: 0.5rem 0 -0.5rem 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding: 1rem;
  gap: 0.5rem;
  
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #00000020;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  line-height: 4;
  min-width: 40rem;
  height: 2rem;
}

.labelYoutubeUrl {
  display: flex;
  justify-content: start;
  flex: 1;
}

.inputYoutubeUrl {
  flex: 10;
  border-radius: 0.2rem;
  border: 0.1rem solid #ccc;
}

.transcribeButton {
  flex: 1;

  border-radius: 0.3rem;
  border: 0.1rem solid #ccc;
  background-color: black;
  color: #ccc;
}

.errorMessage {
  display: flex;
  justify-content: start;
  flex: 1;
  color: red;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ece3e;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.youtubeTitleContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.youtubeTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.youtubeInformationContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.youtubeInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.youtubeInformation #id {
  text-decoration: none;
}

.youtubeInformationButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.youtubeInformationContainer img {
  border-radius: 1rem;
}
.youtubeInformationButtonContainer button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  
}