.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border: 0.5px solid #7ebdf581;
	border-radius: 0.5rem;
	padding: 0.5rem;

	box-shadow: 0.15rem 0.15rem 0.1rem #00000025;
}

.container.processing {
	box-shadow: 
		-0.2rem 0 0.2rem #7ebdf550,
		0.2rem 0 0.2rem #7ebdf550,
		0 -0.2rem 0.2rem #7ebdf550,
		0 0.2rem 0.2rem #7ebdf550;
}

.youtubeTitleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.youtubeTitle {
	font-size: 1.2rem;
	font-weight: bold;
}

.status {
	font-size: 0.8rem;
	font-weight: bold;

	padding: 0.3em;
	border-radius: 0.5rem;
	color: #ffffff;
	
	box-shadow: inset 0.15rem 0.15rem 0.1rem #00000025;
	text-shadow: 0.15rem 0.15rem 0.1rem #00000025;
}

.status.queued {
	background-color: #575856;
}

.status.processing {
	background-color: #4555d3;
}

.status.completed {
	background-color: #a1dd42;
}

.status.failed {
	background-color: #e13c3c;
}

.createdAt {
	font-size: 0.8rem;
	color: #00000080;
}

.contentContainer {
	display: flex;
	align-items: start;
	flex-direction: row;
	gap: 0.5rem;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.youtubeUrl {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.2rem;
}

.youtubeUrl a {
	text-decoration: none;
}

.thumbnailPlaceholder {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 225px;
	height: 150px;
	background-color: #00000025;
	border-radius: 0.5rem;
	box-shadow: inset 0.15rem 0.15rem 0.1rem #00000025;
}

.thumbnailPlaceholder span {
	color: #ffffff;
	text-shadow: 
				/* text border */
				-0.05rem 0 0 #000,
				0.05rem 0 0 #000,
				0 -0.05rem 0 #000,
				0 0.05rem 0 #000,
				/* text shadow */
				0.1rem 0.1rem 0.1rem #000000;
	font-weight: bold;
	
}

.contentContainer img {
	display: flex;
	box-shadow: inset 0.15rem 0.15rem 0.1rem #00000025;
	border: 0.5px solid #00000025;
	border-radius: 0.5rem;
	margin: 0;
	padding: 0;
}

.fileDownloadButtons {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.fileDownloadButtons button {
	display: flex;
	gap: 0.2rem;
	align-items: center;
}

.summary {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	margin-top: 0.5rem;
}

.summaryHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.2rem;
}

.summaryHeader button {
	display: flex;
	gap: 0.2rem;
}